<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fanfics Homepage</title>
</head>
<body>
    <center>
        <h1>Fanfics Lite</h1>
        Добро пожаловать в Fanfics Lite. Здесь вы можете найти фанфики на любой вкус
        <h2>Категории</h2>
        <ul>
            {% for category in categories %}
                <li><a href="/category/{{ loop.index0 }}" target="_blank">{{ category['name'] }}</a></li>
            {% endfor %}
        </ul>
        <p></p>
        <a href="/addcat">Добавить категорию</a>
    </center>

</body>
</html>